@using taxatets.data
@page "/"



<table>
    <tr>
        <td>
            <select>
                <option value="day">day</option>
                <option value="night">night</option>
            </select>
            <section>
                <input type="checkbox" id="checkboxid">
                <label for="checkboxid">check this lable</label>
            </section>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <p>
                starndard pris for 10km og 12min(day-06-18)
                @(new Calculation(new Parameters()
            {
                startingprices = 37m,
                priceprkm = 12.75m,
                priceprmin = 5.75m
            }, 10m, 12m).Getprice())
            </p>
        </td>
    </tr>
</table>