@page "/"
@inject MyClass2 MyClass2

<!--this is how i can use a class from a cs file to be displayed in a razor file -->
<h1> What is you name </h1>
<p> @myClass.name</p>

<!-- this is how i use ínject to display name and age in razer file from a cs file -->
<h1> What is you name and age </h1>
<p>Name: @MyClass2.Name</p>
<p>Age: @MyClass2.Age</p>


@code{
    <!-- this is how the object is displayed for it can be use in the razor file -->
     MyClass myClass = new MyClass();
}